.shiny-text {
  color: #8b8078a4;
  background: linear-gradient(
    120deg,
    rgba(178, 147, 28, 0) 40%,
    rgba(178, 147, 28, 0.5) 50%,
    rgba(178, 147, 28, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

:is(.dark *) .shiny-text {
  color: #8b8b9ea4;
  background: linear-gradient(
    120deg,
    rgba(212, 175, 55, 0) 40%,
    rgba(212, 175, 55, 0.6) 50%,
    rgba(212, 175, 55, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
